# Android Studio
*.iml
.gradle/
local.properties

# IDEA
.idea/

# Build outputs
build/
app/build/

# Release artifacts
app/release/
app/debug/

# APK
*.apk
*.aab
*.apks

# Dynamic delivery metadata
*.dm

# customize ingore rules
local/